* {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-sizing: border-box;
}

.container,
.header,
.card-container,
.card-1,
.card-2 {
    display: flex;
}

.container,
.header,
.card-1,
.card-2 {
    flex-direction: column;
}

body {
    background-color: #dbeafe;
}

.container {
    height: 100%;
    width: 100%;
    padding: 10px 10px 20px;
    overflow: auto;
}

.header {
    margin-bottom: 40px;
    align-items: center;
    gap: 5px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.header-text {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
}

.score-container {
}

.card-container {
    flex-wrap: wrap;
    gap: 24px;
    border: none;
    background: transparent;
    flex-direction: row;
    justify-content: center;
}

.card-1,
.card-2 {
    cursor: pointer;
    gap: 4px;
    padding: 0;
    align-items: center;
    background-color: transparent;
    /* max-width: 300px; */
    border: none;
    border-radius: 8px;
    padding: 10px;
}

#thumbnail-1,
#thumbnail-2 {
    width: 300px;
    height: 168px;
    border-radius: 8px;
}

#thumbnail-1:hover,
#thumbnail-2:hover {
    opacity: 0.8;
}

@media screen and (max-width: 640px) {
    #thumbnail-1,
    #thumbnail-2 {
        width: 240px;
        height: 135px;
    }
}

.card-title {
    font-size: 16px;
    max-width: 300px;
}

@media screen and (max-width: 640px) {
    .card-title {
        font-size: 16px;
        max-width: 240px;
    }
}

.ctr-1,
.ctr-2 {
    font-size: 18px;
    margin-top: 5px;
    display: none;
    gap: 5px;
}

.views-1,
.views-2 {
    display: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 18px;
    height: 40px;
    width: 142px;
    color: white;
    gap: 5px;
}

.correct-thumb .view {
    background-color: #16a34a;
}

.wrong-thumb .view {
    background-color: #ef4444;
}

.correct-thumb {
    background-color: #86efac;
}

.wrong-thumb {
    background-color: #fca5a5;
}

.correct-thumb .views-1,
.correct-thumb .views-2,
.wrong-thumb .views-1,
.wrong-thumb .views-2,
.correct-thumb .ctr-1,
.correct-thumb .ctr-2,
.wrong-thumb .ctr-1,
.wrong-thumb .ctr-2 {
    display: flex;
}
